*, *::before, *::after {
    box-sizing:border-box;
    font-family: "Sora"
}
/* 
body {
    padding: 0;
    margin: 0;
    display: flex; 
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

} */
/* .container{
    width: 600px;
    max-width: 60%;
    background-color: cornflowerblue;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 1 1 5px 2px;

} */

.grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    margin: 0;
    gap: 5px;
}
