#errorCard {
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* centers start button on index start page */
#startBtn {
   padding-top: 20%;
}
/* collapsable positioning from main card */
 #collapsable {
    padding-top:5%;
    max-width: 100%;
 }
/* Maincard formnatting to fit page */
.row .col.s6 {
  width: 50%;
  padding-top: 5%;
  align-items: center;
  
}
/* Main card placement css */
 #maincard {
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 3%;
   
 }
  /* logo CSS to fit nav bar */
 .responsive-img {
  width: 170px;
  height: 300px;
  
 }


 #phonetics {
  display: flex;
  flex-wrap: wrap;
}
/* footer css to place at bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* makes footer links in-line */
.page-footer {
  padding-top: 5px;
  opacity: 80%;
}

 @media (max-width: 756px) {
   .flex-container {
     flex-direction: column;
   }
 }
  